@scope (.SignUp) {
  :scope {
    padding: var(--spacing-300) var(--spacing-200);
    color: var(--color-white);
    font-family: var(--font-family-base);
    font-size: 15px;
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-base);

    @media (min-width: 768px) {
      padding: var(--spacing-500);
      font-size: 18px;
    }

    @media (min-width: 1440px) {
      padding: var(--spacing-700);
      font-size: 24px;
    }
  }
}
