@scope (.GridCard) {
  color: var(--color-white);

  :scope {
    .thumbnail {
      background-image: var(--sm);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      aspect-ratio: 164 / 110;
      border-radius: 6px;
      position: relative;
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }

      &:hover::before {
        opacity: 1;
      }

      &:hover .play_button {
        opacity: 1;
      }

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.25s ease;
        z-index: 1;
        border-radius: inherit;
        pointer-events: none;
      }
      @media (min-width: 768px) {
        background-image: var(--md);
      }
      @media (min-width: 1440px) {
        border-radius: 8px;
        background-image: var(--lg);
      }
    }

  }

    .play_button {
      display: flex;
      align-items: center;
      gap: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      padding: 8px 20px;
      background-color: rgba(255, 255, 255, 0.25);
      border-radius: 999px;
      backdrop-filter: blur(4px);
      color: white;
      font-weight: var(--font-weight-medium);
      opacity: 0;
      transition: opacity 0.25s ease;
      pointer-events: none;

      img {
        width: 28px;
        height: 28px;
      }
    }

    .bookmark {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      top: var(--spacing-100);
      right: var(--spacing-100);
      width: 28px;
      height: 28px;
      z-index: 3;

      &:hover {
        background-color: var(--color-white);

        .icon {
          color: black;
        }
      }

      @media (min-width: 768px) {
        width: 32px;
        height: 32px;
      }

      .icon {
        color: white;
      }
    }

    .top {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 0;
      font-family: var(--font-family-base);
      font-size: 12px;
      font-weight: var(--font-weight-light);
      line-height: var(--line-height-base);
      letter-spacing: 0px;

      @media (min-width: 768px) {
        font-size: 13px;
      }
    }

    .content_title {
      font-family: var(--font-family-base);
      font-size: 15px;
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-base);
      letter-spacing: 0px;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }

    .info {
      color: var(--color-white);
    }

    .content_type_container {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
