@scope (.GridCard) {
  color: var(--color-white);

  :scope {
    .thumbnail {
      background-image: url(../assets/thumbnails/1998/regular/small.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      aspect-ratio: 164 / 110;
      border-radius: 6px;
      position: relative;

      &:hover::before {
        opacity: 1;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.25s ease;
      }

      @media (min-width: 1440px) {
        border-radius: 8px;
      }
    }

    .bookmark {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: black;
      opacity: 0.4;
      border-radius: 50%;
      top: var(--spacing-100);
      right: var(--spacing-100);
      width: 28px;
      height: 28px;

      @media (min-width: 768px) {
        width: 32px;
        height: 32px;
      }
    }

    .top {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 0;
      font-family: var(--font-family-base);
      font-size: 12px;
      font-weight: var(--font-weight-light);
      line-height: var(--line-height-base);
      letter-spacing: 0px;

      @media (min-width: 768px) {
        font-size: 13px;
      }
    }

    .content_title {
      font-family: var(--font-family-base);
      font-size: 15px;
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-base);
      letter-spacing: 0px;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }

    .info {
      color: var(--color-white);
    }

    .content_type_container {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
