@scope (.Header) {
  :scope {
    padding: var(--spacing-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blue-900);

    @media (min-width: 768px) {
      padding: var(--spacing-300) var(--spacing-400);
    }

    @media (min-width: 1440px) {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 0;
      padding: var(--spacing-500) var(--spacing-200);
      min-height: 100vh;
      width: 160px;
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 25px;
      height: 20px;

      @media (min-width: 768px) {
        width: 28px;
        height: 22px;
      }

      @media (min-width: 1440px) {
        width: 32px;
        height: 26px;
      }
    }
  }

  .avatar {
    border: 2px solid var(--color-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 24px;
      height: 24px;
      display: block;

      @media (min-width: 768px) {
        width: 28px;
        height: 28px;
      }

      @media (min-width: 1440px) {
        width: 40px;
        height: 40px;
      }
    }
  }
}
