@scope (.MediaCard) {
  min-width: 240px;
  height: 140px;
  padding-bottom: 14px;
  padding-left: 16px;
  border-radius: 5px;
  background-image: url(../assets/thumbnails/112/regular/small.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  :scope {
    .bookmark {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: black;
      opacity: 0.6;
      border-radius: 50%;
      top: var(--spacing-100);
      right: var(--spacing-100);
      width: 32px;
      height: 32px;
    }
    .info {
      color: var(--color-white);
    }
    .top {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .content_type_container {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .icon {
      color: white;
    }
  }
}
