@scope (.SearchBar) {
  display: flex;
  padding: var(--spacing-300) 0;

  @media (min-width: 768px) {
    padding: var(--spacing-400) 0;
  }

  @media (min-width: 1440px) {
    padding: var(--spacing-500) 0;
  }

  :scope {
    .icon {
      color: var(--color-white);
      font-size: 20px;

      @media (min-width: 768px) {
        font-size: 24px;
      }
    }

    .text_input {
      flex: 1;
      background-color: var(--color-blue-950);
      border: 1px solid var(--color-blue-950);
      margin-left: var(--spacing-200);
      color: var(--color-white);
      caret-color: var(--color-red-500);
      font-family: var(--font-family-base);
      font-size: 16px;
      font-weight: var(--font-weight-light);
      line-height: var(--line-height-base);
      letter-spacing: 0px;

      &:hover {
        cursor: pointer;
      }

      &::placeholder {
        font-family: var(--font-family-base);
        font-size: 16px;
        font-weight: var(--font-weight-light);
        line-height: var(--line-height-base);
        letter-spacing: 0px;
        color: var(--color-white);
      }

      &:focus {
        border-bottom: 1px solid var(--color-blue-500);
        outline: none;
      }

      @media (min-width: 768px) {
        font-size: 18px;

        &::placeholder {
          font-size: 18px;
        }
      }
    }
  }
}
