@scope (.BaseLayout) {
  background-color: var(--color-blue-950);
  min-height: 100vh;

  :scope {
    main {
      padding: 0 var(--spacing-200);
      padding-bottom: var(--spacing-700);

      @media (min-width: 768px) {
        padding: 0 var(--spacing-400);
        padding-bottom: var(--spacing-500);
      }

      @media (min-width: 1440px) {
        margin-left: 160px;
        padding: 0 var(--spacing-500);
        padding-bottom: var(--spacing-700);
      }
    }
  }
}
